main {
  width: 80%;
  background-color: whitesmoke;
  margin: 1rem auto;
}

header {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.actions .button {
  margin-bottom: 0; 
}

.actions .button-group {
  margin-bottom: 0;
}

.flickName {
  margin: 0 0.75rem;
}

.template {
  display: none;
}
.flick{
  opacity: 1;
  transition: opacity 200ms linear;
}

.fa-star {
  color: white;
}

.input-group {
  margin: 0;
}